*{
    flex: auto;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0%;

}
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.upper-part{
    display: flex;
    justify-content: space-between;
}
.upper-left{
    font-size: 24px;
    color: #F9FAF8;
    width: 100%;
}
.upper-right{
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    gap: 18px;
}
.talk{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.more-talk{
    font-size: 18px;
    color: #F9FAF8;
}
a{
    text-decoration: none;
    color: #E5E7EB

}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-description{
    display: flex;
    justify-content: space-between;
    margin: 42px;
    padding: 24px;
    flex-direction: column;
    flex-basis: 50%;

}


.right{
    display: flex;
    margin: 42px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    flex-basis: 50%;

}
.signup{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    width: fit-content;
    border-radius: 8px;
    display: flex;

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 42px;
    gap: 24px;
    width: 100%;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    gap: 24px;
    margin: 42px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.fact{
    display: flex;
    flex-direction: column;
}
img.image{
    width: 240px;
    height: 110px;
    border-radius: 9px;
    border: 2px solid #3882F6;
}
.title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 100%;


}
.saying{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.person{
    font-weight: bolder;
    justify-self: flex-end;
    margin-bottom: 24px;
    font-size: 24px;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    background-color: #1F2937;
    width: 100%;
    height: 60px;
}
.add
{
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    width: 80%;
    margin: 42px;
    padding: 24px;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: larger;
    font-weight: bold;
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    padding: 9px;
}  
